@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

*{
    box-sizing: border-box
}

:root{
    --border-color: #e3e5e4;
    --background-color: #c3c7ca;
}

body{
    font-family: 'Lato', sans-serif;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
    margin: 0;
}

.draggable-list{
    border: 1px solid var(--border-color);
    color: #34444f;
    padding: 0;
    list-style-type: none;
}

.draggable-list li{
    background-color: #fff;
    display: flex;
    flex: 1;
}

.draggable-list li:not(:last-of-type){
    border-bottom: 1px solid var(--border-color);
}

.draggable-list .number{
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    height: 50px;
    width: 50px;
}

.draggable-list li.over .draggable{
    background-color: #eaeaea;
}

.draggable-list .song-name{
    margin: 0 20px 0 0;
}

.draggable-list li.right .song-name{
    color: #3ae374;
}

.draggable-list li.wrong .song-name{
    color: #ff3838;
}

.draggable{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    flex: 1;
}

.check-btn{
    background-color: var(--background-color); 
    border: none;
    color: #34444f;
    font-size: 14px;
    padding: 10px 20px;
    cursor: pointer;
}

.check-btn:active{
    transform: scale(0.98)
}
