@import url('https://rsms.me/inter/inter.css');

@supports (font-variation-settings: normal) {
  html { 
    font-family: 'Inter var', sans-serif; 
        }
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html { 
    font-family: 'Inter', sans-serif; 
}

.container{
    height: 100vh;
    width: 50%;
    margin: 20px auto;
    text-align: center;
}

.container .generator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    margin: 30px auto;    
}

.generator input{
    margin: 10px 0;
    width: 100%;
}

.generator input[type='file']{
    display: none;
}

.generator .file{
    cursor: pointer;
    background: linear-gradient(45deg, #4a598aa8, #f2f2f2);
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 3px;
    border: 1px double blueviolet;
}

.file i{
    margin-top: 10px;
}

#image__name{
    color: #4a598a;
}

.generator input[type='text']{
    padding: 5px 10px;
    outline: none;
    border: .5px solid #4a598a;
    border-radius: 3px;
}

button{
    padding: 7px 10px;
    border: none;
    background: #4a598a;
    border-radius: 3px;
    margin-bottom: 7px;
    color: #f6f6f6;
    cursor: pointer;
}

.container canvas{
    border: 2px solid #4a598a;
    border-radius: 10px;
    width: 100%;    
}

@media (min-width: 320px){

    .container,
    .container .generator{
        width: 90%;
        margin: 30px auto;
    }
    
}
